@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

p {
  font-family: Poppins, sans-serif;
}
.v-line {
  background: linear-gradient(45deg, transparent, #4a0000);
}
.bg-overview {
  background: linear-gradient(to right, #480000, #020202);
}
